<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/all_games.css">
  <title>Document</title>
</head>
<body>
  
</body>
</html>


<body>

    <nav class="main-nav">
      <ul>
          <li>Upload Avatar</li>
          <li><a href="/games">Game Event Dashboard</a></li>
          <li><a href="/yours">Your Games</a></li>                   
          <li><a href="/welcome">Home</a></li>                        
          <li><a href="/logout">Logout</a></li>                
      </ul>
    </nav> 

    <div class="container">   

        <div>
          <h1>Hi {{current_user.first_name}} {{current_user.last_name}}!</h1>
        </div>          

        <div class="main_content"> 
          <h2>Here are the games you may join:</h2>
        </div>
          <div class="games">
            {% for game in all_games %}
            <a class="invisible" href="/games/{{ game.id }}">
              <h4>{{game.gameType}}</h4>
            </a>
            <p>Participants: {{game.participants.count}}</p>
            <p>{{game.notes}}</p>
            {% if game.creator.id == current_user.id %}
            <form action="/games/delete/{{game.id}}" method="POST">
              {% csrf_token %}
              {% comment %} <input class="btn btn-secondary" type="Submit" value="Delete" /> {% endcomment %}
            </form>
           {% comment %} <a href="/edit/{{game.id}}"> <button class="btn btn-secondary">Edit</button></a> {% endcomment %}
            {% endif %} {% endfor %}
          </div>
        </div>

                
      </div>

      

     
    </div>
  </div>
    <!--</div>
              
                  {% comment %}
                  <table class="table table- primary">
                    <tr>
                      <th>Type OF Game</th>
                      <th>Date</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Location</th>
                      <th>Description/th></th>
                    </tr>

                    {% for game in all_games %}
                    <tr>
                      <td>
                        <a href="/games/{{ game.id }}">
                          <h4>{{game.gameType}}</h4>
                        </a>
                      </td>
                      <td>{{game.date}}</td>
                      <td>{{game.startTime}}</td>
                      <td>{{game.endTime}}</td>
                      <td>{{game.location}}</td>
                      <td>{{game.notes}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                  {% endcomment %}
                  <div class="row">
                    <div class= >-->
</body>

