<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create A Game</title>
    {% load static %}
    <link rel="stylesheet" href="/static/css/create_game.css" />
    
</head>

  <body>
    
      <nav class="main-nav">
        <ul>
            <li>Upload Avatar</li>
            <li><a href="/games">Game Event Dashboard</a></li>
            <li><a href="/yours">Your Games</a></li>
            <li><a href="/games">Cancel</a></li>
            <li><a href="/welcome">Home</a></li>                        
            <li><a href="/logout">Logout</a></li>                
        </ul>
      </nav>  

      {% if messages %}
      {% for message in messages %} {{message}} {% endfor %}
      {%endif%}
      <section>
      <div class="box">
        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div>
          <div class="container">
              <div class="form">
                  <form action="/create" method="POST">
                      {% csrf_token %}

                      <h2>Create a Game Event</h2>
                      {% comment %} Date of Event {% endcomment %}
                      <div class="inputBox">
                          <input type="text" name="gameType" placeholder="Type of Game">
                      </div>
                      
        
                      <div class="inputBox"> 
                          <input type="date" name="date" id="" placeholder="Game Date">
                      </div>

                      <div class="inputBox"> 
                          <input type="time" name="startTime" placeholder="Game Starting Time">
                      </div>

                      <div class="inputBox"> 
                          <input type="time" name="endTime" placeholder="Game Ending Time">
                      </div>

                      <div class="inputBox">
                          <input type="text" name="location" placeholder="Location">
                      </div>

                      <div class="inputBox">
                          <input type="textarea" name="notes" placeholder="Description">
                      </div>

                    <div class=" ">
                        
                    </div>
        
                    <div class="inputBox">
                        <input type="submit" value="Submit" />
                    </div>
                  </form>
              </div>
          </div>
        </div>
        </section>
  </body>
</html>
