<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/enter.css">
    <title>NerdQuest</title>
</head>
<body>
    <div class="container">
        <video src="/static/css/dark_fire.mp4" autoplay muted></video>
        <div class="text">
            <span>N</span>
            <span>E</span>
            <span>R</span>
            <span>D</span>
            <span>Q</span>
            <span>U</span>
            <span>E</span>
            <span>S</span>
            <span>T</span>
        </div>
        <div class="button-container">
            <a href="/index" class="neon-button">Enter</a>
        </div>
        <footer class="footer">
            <p>NerdQuest &copy; 2022</p>
        </footer> 
    </div>
</body>
</html>