<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login and Registration</title>
        {% load static %}
        
        <link rel="stylesheet" href="/static/css/login_style.css">
    
        
</head>
    <body>
        <section>
            <div class="box">
                <div class="container">
                    <div class="form">                
                        <h2>Registration</h2>
                        <form action="/register" method="POST">
                            {% csrf_token %}
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        
                            
                            <div class="inputBox">
                                <input type="text" name="first_name" id="" placeholder="First Name">
                            </div>
                            <div class="inputBox">                                
                                <input type="text" name="last_name" id="" placeholder="Last Name">
                            </div>
                            <div class="inputBox">                 
                                <input type="text" name="email" id="" placeholder="Email">
                            </div>
                            <div class="inputBox">                                
                                <input type="password" name="password" id="" placeholder="Password">
                            </div>
                            <div class="inputBox">                               
                                <input type="password" name="confirm_pw" id="" placeholder="Confirm Password">
                            </div>
                            <div class="inputBox">
                                <input type="submit" value="Register">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="container">
                    <div class="form">
                        <h2>Login</h2>
                        <form action="/login" method="POST">
                            {% csrf_token %}
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                            <div class="inputBox">
                                <input type="text" name="email" id="" placeholder="Email">
                            </div>
                            <div class="inputBox">                                    
                                <input type="password" name="password" id="" placeholder="Password">
                            </div>
                            <div class="inputBox">
                                <input type="submit" value="Login">
                            </div>
                        </form>                        
                    </div>
                </div>
            </div> 
        </section>
    </body>
</html>