<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>One Game </title>
        <link rel="stylesheet" href="/static/css/one_game.css">        
    </head>

    <body>
        <div id="container">
            <nav class="main-nav">
                <ul>
                    <li>Upload Avatar</li>
                    <li><a href="/games">Game Event Dashboard</a></li>
                    <li><a href="/yours">Your Games</a></li>                   
                    <li><a href="/welcome">Home</a></li>                        
                    <li><a href="/logout">Logout</a></li>                
                </ul>
            </nav>  

            <section class="boxes">
                <div class="box">
                    <div> 
                        <h1>Event: {{one_game.gameType}}</h1>
                        <h2>Event Creator: {{one_game.creator.first_name}} {{one_game.creator.last_name}}</h2>
                        <h3></h3>
                        <h2>Game Notes: {{one_game.notes}}</h2>
                        <h3></h3>
                        <h2>Game Participants: </h2>
                            <ol>
                                {% for participant in one_game.participants.all %}
                                <li>{{participant.first_name}} {{participant.last_name}}</li>
                                {% endfor %}
                            </ol>
                    </div>
                    
                </div>
                <div>
                    {% if user in one_game.participants.all %}

                    <a class="fauxBtn1" href="/leave/{{one_game.id}}">Leave Game </a>
                    <a class="fauxBtn2" href="/edit/{{one_game.id}}">Edit Game</a>
                    <a class="fauxBtn3" href="/delete/{{one_game.id}}">Delete Game</a>
                    {% else %}
                    <a class="fauxBtn4" href="/join/{{one_game.id}}">Join Game</a>
                    {% endif %}
                </div>             
                
            </section>            
        </div>
    </body>
</html>