<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=div, initial-scale=1.0">
        <!--<title>Your Games</title>-->
        {% load static%}
        <link rel="stylesheet" href="/static/css/your_games.css">
        <!--<img src="/static/css/gamenight.png">-->
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">-->
        
    </head>

    <body>
        <div class="wrapper">
            <div id="">

                <nav class="main-nav">
                    <ul>
                        <li>Upload Avatar</li>
                        <li><a href="/games">Game Event Dashboard</a></li>
                        <li><a href="/welcome">Home</a></li>                        
                        <li><a href="/logout">Logout</a></li>                
                    </ul>
                </nav>  

                <div class="heading">
                    <h1>Hi {{current_user.first_name}}!</h1>
                    <h2>Here are your games {{one_game.gameType}}</h2>
                </div>

            <table>
                <thead>
                    <tr>
                        <th>Type of Game</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Location</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                {% for game in your_games %}
                
                    <tr>
                        <td><a href="/games/{{ game.id }}">
                        <h2>{{game.gameType}}</h2>
                        </td>
                        <td>{{game.date}}</td>
                        <td>{{game.startTime}}</td>
                        <td>{{game.endTime}}</td>
                        <td>{{game.location}}</td>
                        <td>{{game.notes}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="/new" class="fauxBtn">Add A New Game</a>
        </div>
        <!--<footer class="footer">
            <p>NerdQuest &copy; 2022</p>
        </footer>-->
    </body>

</html>