@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*, 
*::before,
*::after{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

body {
    display: grid;
    background: #01061d;
}

video {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.text {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.text span {
    color: #fa1404;
    text-align: center;
    font-weight: 800;
    font-size: 120px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    animation: reveal 2.5s linear forwards;
    opacity: 0;
    filter: blur(13px);
}

@keyframes reveal {
    100%{
        opacity: 1;
        filter: blur(0);
    }
}

span:nth-child(1){
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
span:nth-child(2){
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
}
span:nth-child(3){
    animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
}
span:nth-child(4){
    animation-delay: 2.4s;
    -webkit-animation-delay: 2.4s;
    -moz-animation-delay: 2.4s;
}
span:nth-child(5){
    animation-delay: 3;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
}
span:nth-child(6){
    animation-delay: 3.6s;
    -webkit-animation-delay: 3.6s;
    -moz-animation-delay: 3.6s;
}
span:nth-child(7){
    animation-delay: 4.2s;
    -webkit-animation-delay: 4.2s;
    -moz-animation-delay: 4.2s;
}
span:nth-child(8){
    animation-delay: 4.8s;
    -webkit-animation-delay: 4.8s;
    -moz-animation-delay: 4.8s;
}
span:nth-child(9){
    animation-delay: 5.4s;
    -webkit-animation-delay: 5.4s;
    -moz-animation-delay: 5.4s;
}

.neon-button {
    font-size: 4rem;
    text-transform: uppercase;
    
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    text-decoration: none;
    color: #ff1818;
    border: #ff1818 0.125em solid;
    /*padding: 0.25em 1em;*/
    padding: 0.25em;
    border-radius: 0.25em;

    text-shadow: 
        0 0 0.1em rgb(252, 171, 78, 1),
        0 0 0.45em rgb(252, 171, 78, 0.7);

    box-shadow: inset 0 0 .4em 0 #ff1818, 0 0 .5em 0 #ff1818;

    position: relative;

    transition: background-color 100ms linear;
}

.neon-button::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background: #ff1818;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.45);
    filter: blur(1em);
    opacity: 0.9;
}

.neon-button:hover, neon-button:focus {
    background: rgb(252, 171, 78, 0.7);
    color: #01061d;
    text-shadow:
        0 0 0.1em rgba(139, 78, 252, 1),
        0 0 0.45em rgba(139, 78, 252, 0.7);   
}

.neon-button:hover::after {
    opacity: 1;
}