@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {    
    overflow: hidden;
    /*background: #01061d;*/
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
    background: linear-gradient(to bottom, black, #01061d, #020929, #fa1404, black, #01061d, #020929, #fa1404)
}

.box {
    position: relative;
    padding: 40px;    
}

.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.form h2 {
    position: relative;
    color: #01061d;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.form h2::before {
    content: " ";
    position: absolute;    
    left: 0;
    bottom: -10px;
    width: 150px;
    height: 4px;
    background: #01061d;
}

.form .inputBox {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: right;
}

.form .inputBox input {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 10px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);    
    font-size: 16px;
    letter-spacing: 1px;
    color: #01061d;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(104, 103, 103, 0.5);
}

.form .inputBox input:hover {
    background: rgba(255,229,59,1);
}

.form .inputBox input::placeholder {
    color: #01061d;
    font-weight: bold;
}

.form .inputBox input[type="submit"] {
    background: rgba(255, 255, 255, 0.5);
    color: #01061d;
    font-weight: bold;
    display: flex;
    justify-content: center;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600px;
}


