@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {    
    overflow: hidden;
    background: #020929;
}

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0px;
    list-style: none;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    /*is the margin-right necessary?*/
    /*margin-right: 10px;  */  
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #01061d;
    border: 3px solid rgba(255,37,37,0.7);    
    border-radius: 15px;    
}

.main-nav ul li {
    color: rgba(255,229,59,1);    
}

.main-nav ul li:nth-child(1) {
    font: 1.5em sans-serif;
}

.main-nav ul li:nth-child(2) {
    font: 2em sans-serif;
}

.main-nav ul li:nth-child(3) {
    font: 1.5em sans-serif;      
}

.main-nav ul li:nth-child(4) {
    font: 1.5em sans-serif;      
}

.main-nav ul li:nth-child(5) {
    font: 1.5em sans-serif;      
}

.main-nav ul li:nth-child(6) {
    font: 1.5em sans-serif;      
}

.main-nav ul li:nth-child(2) a {
    text-decoration: none; 
    color: purple transparent;
    font-weight: bold;
}

.main-nav ul li:nth-child(3) a {
    text-decoration: none; 
    color: purple transparent;
    font-weight: bold;
}

.main-nav ul li:nth-child(4) a {
    text-decoration: none; 
    color: purple transparent;
    font-weight: bold;
}

.main-nav ul li:nth-child(5) a {
    text-decoration: none; 
    color: purple transparent;
    font-weight: bold;
}

.main-nav ul li:nth-child(6) a {
    text-decoration: none; 
    color: purple transparent;
    font-weight: bold;
}

.main-nav ul li:nth-child(2) a:hover{    
    color: rgba(252,69,140,1);
}

.main-nav ul li:nth-child(3) a:hover{    
    color: rgba(252,69,140,1);
}

.main-nav ul li:nth-child(4) a:hover{    
    color: rgba(252,69,140,1);
}

.main-nav ul li:nth-child(5) a:hover{    
    color: rgba(252,69,140,1);
}

.main-nav ul li:nth-child(6) a:hover{    
    color: rgba(252,69,140,1);
}

.heading {
    margin: 10px;
    display: grid;
    align-items: center;
    color: #ff1818;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

.box {
    position: relative;
    width: 850px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
    border-radius: 24px;
    margin: 20px;
    padding: 10px;
}

.box::before {
    content: '';
    position: absolute;
    width: 350px;
    height: 300%;    
    background: linear-gradient(90deg, rgba(255,229,59,1) 0%, rgba(252,69,140,1) 50%, rgba(255,37,37,1) 100%);    
    animation: animate 4s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    inset: 10px;
    background: #020929;
    border-radius: 20px;
}
@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.box h1 {
    position: relative;
    color: #fa1404;
    font-size: 2em;
    padding: 0.5em;
    z-index: 10;
}

.box h2 {
    position: relative;
    color: rgb(223, 108, 223);    
    font-size: 2em;
    padding: 0.25em;
    z-index: 10;
}

.box h3 {
    position: relative;
    color: #fa1404; 
    padding: 0.25em;   
    font-size: 2em;
    z-index: 10;
}

.box ol {
    position: relative;
    color: #fa1404;
    font-size: 2em;
    z-index: 10;
}

.box ol li:nth-child() {
    text-decoration: none;
}

/*.fauxBtn {
    text-decoration: none;     
}*/

.fauxBtn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(255,229,59,1);
    margin: 30px;
    padding: 0.50em;
    max-width: 150px;
    border-radius: 10px;
    text-decoration: none; 
    color: purple transparent;
    font-weight: bold;
}

.fauxBtn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(255,229,59,1);
    margin: 30px;
    padding: 0.50em;
    max-width: 150px;
    border-radius: 10px;
    text-decoration: none; 
    color: purple transparent;
    font-weight: bold;
}

.fauxBtn3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(255,229,59,1);
    margin: 30px;
    padding: 0.50em;
    max-width: 150px;
    border-radius: 10px;
    text-decoration: none; 
    color: purple transparent;
    font-weight: bold;
}

.fauxBtn4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(255,229,59,1);
    margin: 30px;
    padding: 0.50em;
    max-width: 150px;
    border-radius: 10px;
    text-decoration: none; 
    color: purple transparent;
    font-weight: bold;
}


