@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*
{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}


body {    
    margin: 0px 20px;
    background: #020929;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0px;
    list-style: none;
    grid-template-columns: 1fr 2fr 1fr;
    /*is the margin-right necessary?*/
    margin-right: 10px;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #020929;
    border: 1px solid rgba(255,37,37,0.7);    
    border-radius: 15px;    
}

.main-nav ul li {
    color: rgba(255,229,59,1);    
}

.main-nav ul li:nth-child(1) {
    font: 1.5em sans-serif;
}

.main-nav ul li:nth-child(2) {
    font: 3em sans-serif;
}

.main-nav ul li:nth-child(3) {
    font: 1.5em sans-serif;      
}

.main-nav ul li:nth-child(3) a {
    text-decoration: none; 
    color: purple transparent;
    font-weight: bold;
}

.main-nav ul li:nth-child(3) a:hover{    
    color: rgba(252,69,140,1);
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    margin: 20px;
}

.box::before {
    content: '';
    position: absolute;
    width: 160px;
    height: 140%;    
    background: linear-gradient(90deg, rgba(255,229,59,1) 0%, rgba(252,69,140,1) 50%, rgba(255,37,37,1) 100%);    
    animation: animate 4s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    inset: 5px;
    background: #020929;
    border-radius: 16px;
}
@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.box h2 {
    position: relative;
    color: #fa1404;    
    font-size: 2em;
    z-index: 10;
}

.footer {
    color: #fa1404;
    display: flex;
    justify-content: center;
    align-items: center;
}