@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;    
}

body {    
    margin: 10px 30px;
    background: linear-gradient(#01061d, #020929);
    min-width: 1100px;
    min-height: 920px;
}

/*.wrapper {
    display: grid;
    grid-gap: 20px;
}*/

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0px;
    list-style: none;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    /*is the margin-right necessary?*/
    /*margin-right: 10px;  */  
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #01061d;
    border: 3px solid rgba(255,37,37,0.7);    
    border-radius: 15px;    
}

.main-nav ul li {
    color: rgba(255,229,59,1);    
}

.main-nav ul li:nth-child(1) {
    font: 1.5em sans-serif;
}

.main-nav ul li:nth-child(2) {
    font: 2em sans-serif;
}

.main-nav ul li:nth-child(3) {
    font: 1.5em sans-serif;      
}

.main-nav ul li:nth-child(4) {
    font: 1.5em sans-serif;      
}

.main-nav ul li:nth-child(2) a {
    text-decoration: none; 
    color: purple transparent;
    font-weight: bold;
}

.main-nav ul li:nth-child(3) a {
    text-decoration: none; 
    color: purple transparent;
    font-weight: bold;
}

.main-nav ul li:nth-child(4) a {
    text-decoration: none; 
    color: purple transparent;
    font-weight: bold;
}

.main-nav ul li:nth-child(2) a:hover{    
    color: rgba(252,69,140,1);
}

.main-nav ul li:nth-child(3) a:hover{    
    color: rgba(252,69,140,1);
}

.main-nav ul li:nth-child(4) a:hover{    
    color: rgba(252,69,140,1);
}

.heading {
    margin: 10px;
    display: grid;
    align-items: center;
    color: #ff1818;
}

table {
    position: relative;
    box-shadow: 0 10px 20px rgba(252,69,140,0.8);
    background-color: rgba(201, 177, 247, 0.7);
    text-align: left;
    overflow: hidden;
}

table thead, tbody {
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    justify-content: space-around;
    /*align-items: center;*/
}

table th, td {
    padding: 1rem 3rem;
}

table td a {
    text-decoration: none;
}


.fauxBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(255,229,59,1);
    margin: 30px;
    padding: 0.50em;
    max-width: 150px;
    border-radius: 10px;
    text-decoration: none; 
    color: purple transparent;
    font-weight: bold;
}

/*.footer {
    min-height: 5vh;
    color: #fa1404;
    display: flex;
    justify-content: center;
    align-items: center;
    
}*/